@charset "utf-8";

*{
    font-family: "맑은 고딕";
    color: black;
    list-style:none;
}

a{
	text-decoration:none;
	display:block;
}

header{
    width: 1800px;
    height: 100px;
}

.logo{
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

.logo>img{
    width: 500px;
    height: 20px;
}

.wikilogo{
    width: 500px;
    height: 18px;

    margin-left: auto;
    margin-right: auto;

    text-align:center;
}

.menu{           
	float:left;
	width:1000px; 
    height:50px;
    right:0;
    top:30px;

    position:absolute;
	background-color:#ffffff; 
    z-index: 1;

    margin-top: 5px;
    margin-left: 500px;
}

.navi>li{
	float:left;
	width:250px;
	background-color:rgb(95, 112, 160);
}

.navi>li>a{
	line-height:40px; 
	font-size:16px;	
	font-weight:bold;
	text-align:center;
	color:#ffffff; 
}

.navi>li:hover{
	background-color:#9e57e0;  
}

.submenu{         
	display:none;
}

.submenu>li{
    float: left;
	width:220px;
    background-color:#ffffff; 
}

.submenu>li>a{
	line-height:35px; 
	font-size:14px;	
	font-weight:bold;
	text-align:center;
}

.submenu>li:hover{ 
	background-color:#9e57e0;
}

.imgslide{
    width: 1800px;
    height:350px; 
	position:relative; 
	overflow:hidden; 
    text-align:center;

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 15px;

    clip: rect( 175px, 220px, 175px, 20px );
}

.imgslide>a{
    display:block; 
    position:absolute; 
}

.langTitle{
    background-color: aquamarine;
    color: black;
    text-align: center;
    font-size: 50px;

    height: 80px;
    width: 1400px;

    margin-left: auto;
    margin-right: auto;
}

.langSubtitle{
    width: 700px;
    
    margin-left: auto;
    margin-right: auto;

    color: black;
    text-align: center;
    font-size: 20px;
}

.bodywrap{
    width: 1800px;
    height: 300px;
}

.mainTable{
    float: left;

    margin-top: 15px;
    margin-left: 50px;

    text-align: center;
    width: 1100px;
    height: 300px;

    border-left:0.3px solid #000000;        
    border-right:0.3px solid #000000;
    border-top:0.3px solid #000000;
    border-bottom:0.3px solid #000000;
    
    border-collapse: collapse;
    padding: 10px 0px;
}

.ranking{
    float: right;

    width: 600px;
    height: 350px;
}

.programTable{
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    width: 1400px;
    height: 300px;

    border-left:0.3px solid #000000;        
    border-right:0.3px solid #000000;
    border-top:0.3px solid #000000;
    border-bottom:0.3px solid #000000;
    
    border-collapse: collapse;
    padding: 10px 0px;
}

.programTitle{
    background-color: rgb(127, 255, 212, 0.3);
}

.title{
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    margin-top: 40px;
}

.content{
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.langPicture>td>img{
    width: 100px;
    height: 100px;
}

.idePicture>td>img{
    width: 125px;
    height: 60px;
}

.high{
    width: 1400px;
}

.contentHigh{
    width: 500px;

    margin-right: auto;
    margin-left: auto;
}

.tableTitle{
    width: 1400px;

    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.tableText{
    text-align: center;
    font-size: 15px;
}

.title{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.content{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.mainBottom{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.mainBottom>img{
    height: 150px;
    width: 1800px;
}

.langBottom{
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.langBottom>img{
    width: 1400px;
    height: 150px;
}